In [1]:
from evmc_supply_curves.supplycurve_helpers import SupplyCurves

This will create an instance of a SupplyCurves object from the table provided, with a resolution of 1% increments of customer participation.

In [2]:
#create tables
sc=SupplyCurves()
sc.load_existing_table()

sc.table.head()

,EV_Type,Program,Scenario,Year,Customer_Type,1%,2%,3%,4%,5%,...,90%,91%,92%,93%,94%,95%,96%,97%,98%,99%
0,LDV,DLC,flat,2025,new,131.88,133.93,136.16,138.44,140.63,...,--,--,--,--,--,--,--,--,--,--
1,LDV,DLC,flat,2030,new,126.14,127.47,128.82,130.20,131.60,...,--,--,--,--,--,--,--,--,--,--
2,LDV,DLC,flat,2035,new,120.76,121.65,122.55,123.52,124.46,...,--,--,--,--,--,--,--,--,--,--
3,LDV,DLC,flat,2040,new,115.53,116.14,116.76,117.43,118.08,...,--,--,--,--,--,--,--,--,--,--
4,LDV,DLC,flat,2045,new,112.35,112.75,113.16,113.60,114.03,...,--,--,--,--,--,--,--,--,--,--

This generates a table of beta values used to calculate the customer response to incentives or marketing.

In [3]:
sc.create_betas_table()
sc.betas.head()

,EV_Type,Program,Scenario,Year,Customer_Type,beta_no_install,beta_install_required
0,LDV,DLC,flat,2025,new,0.004478,0.000336
1,LDV,DLC,flat,2030,new,0.004478,0.000336
2,LDV,DLC,flat,2035,new,0.004478,0.000336
3,LDV,DLC,flat,2040,new,0.004478,0.000336
4,LDV,DLC,flat,2045,new,0.004478,0.000336

This will generate a new table of supply curves at a resolution of 20% customer participation

In [4]:
ENROLLMENT_RESOLUTION = 10 #percent
sc2=SupplyCurves(enrollment_resolution=ENROLLMENT_RESOLUTION)
sc2.create_cost_table()
sc2.table.head()

,EV_Type,Program,Scenario,Year,Customer_Type,10%,20%,30%,40%,50%,60%,70%,80%,90%
0,LDV,DLC,flat,2025,new,339.65,465.32,753.15,--,--,--,--,--,--
1,LDV,DLC,flat,2030,new,316.30,422.77,626.57,--,--,--,--,--,--
2,LDV,DLC,flat,2035,new,297.24,395.38,571.36,--,--,--,--,--,--
3,LDV,DLC,flat,2040,new,285.94,380.86,547.31,--,--,--,--,--,--
4,LDV,DLC,flat,2045,new,275.16,368.47,530.80,--,--,--,--,--,--

Using the table we just made, we can find the costs per vehicle to acheive 20% customer participation. We can specify any of 'EV_Type','Program','Scenario', 'Year', 'Customer_Type'. If not specified, all options will be provided.

In [5]:
PERCENT=20
example_1=sc2.cost_per_EV(PERCENT, EV_Type='LDV')
print(f"A dataframe of costs per EV of enabling 20% of LDVs to provide managed charging\
        \nin all scenarios and years:\n{example_1}")

A dataframe of costs per EV of enabling 20% of LDVs to provide managed charging
in all scenarios and years:
   EV_Type Program Scenario  Year Customer_Type     20%
0      LDV     DLC     flat  2025           new  465.32
1      LDV     DLC     flat  2030           new  422.77
2      LDV     DLC     flat  2035           new  395.38
3      LDV     DLC     flat  2040           new  380.86
4      LDV     DLC     flat  2045           new  368.47
..     ...     ...      ...   ...           ...     ...
67     LDV     TOU      mid  2030     recurring  151.51
68     LDV     TOU      mid  2035     recurring   94.45
69     LDV     TOU      mid  2040     recurring   68.66
70     LDV     TOU      mid  2045     recurring   57.92
71     LDV     TOU      mid  2050     recurring   52.00

[144 rows x 6 columns]

If all variables are specified, only one cost per EV will be produced.

In [6]:
example_2=sc2.cost_per_EV(15, EV_Type='LDV', Program='DLC',Scenario='high', Year=2025, Customer_Type='new')
print(f"The cost per EV of enabling 15% of LDVs to participate in direct load control\
        \nprograms in a High-Flexibility scenario in 2025 is ${example_2['15%'].values[0]}")

cost table passed is not high resolution enough. Reading new table with 1% resolution.
The cost per EV of enabling 15% of LDVs to participate in direct load control
programs in a High-Flexibility scenario in 2025 is $145.10